services:
  db:
    container_name: ${POSTGRES_CONTAINER_NAME}
    image: postgres:16.6-alpine3.20
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DATABASE}
    volumes:
    - ../data/postgres:/var/lib/postgresql/data
    networks:
    - socialpredict_internal_network
    env_file:
    - ../.env
  backend:
    container_name: ${BACKEND_CONTAINER_NAME}
    image: ${BACKEND_IMAGE_NAME}
    restart: unless-stopped
    networks:
    - socialpredict_internal_network
    env_file:
    - ../.env
    depends_on:
    - db
  frontend:
    container_name: ${FRONTEND_CONTAINER_NAME}
    image: ${FRONTEND_IMAGE_NAME}
    restart: unless-stopped
    networks:
    - socialpredict_internal_network
    env_file:
    - ../.env
    depends_on:
    - backend
  webserver:
    container_name: ${NGINX_CONTAINER_NAME}
    image: nginx:latest
    restart: unless-stopped
    environment:
      ENVIRONMENT: ${APP_ENV}
      DOMAIN: ${DOMAIN}
    volumes:
    - ../data/nginx/vhosts/prod:/etc/nginx/templates/
    networks:
    - socialpredict_internal_network
    - socialpredict_external_network
    env_file:
    - ../.env
    depends_on:
    - backend
    - frontend
    labels:
    - traefik.enable=true
    - traefik.http.routers.social-predict.rule=Host(`${DOMAIN}`)
    - traefik.http.routers.social-predict.entrypoints=websecure
    - traefik.http.routers.social-predict.tls=true
    - traefik.http.routers.social-predict.tls.certresolver=letsencrypt
    - traefik.http.services.social-predict.loadbalancer.server.port=80
  traefik:
    container_name: ${TRAEFIK_CONTAINER_NAME}
    image: traefik:v3.5
    restart: unless-stopped
    security_opt:
    - no-new-privileges:true
    ports:
    - 80:80
    - 443:443
    networks:
    - socialpredict_external_network
    volumes:
    - ../data/traefik/config/traefik.yaml:/etc/traefik/traefik.yml:ro
    - ../data/traefik/config/acme.json:/acme.json
    - ../data/traefik/logs/:/logs/
    - ../data/traefik/config/dynamic:/etc/traefik/dynamic:ro
    environment:
      DOCKER_API_VERSION: '1.44'
  docker-socket-proxy:
    image: tecnativa/docker-socket-proxy
    container_name: docker-socket-proxy
    restart: unless-stopped
    environment:
      CONTAINERS: '1'
      NETWORKS: '1'
      SERVICES: '1'
      TASKS: '1'
    volumes:
    - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
    - socialpredict_external_network
networks:
  socialpredict_internal_network:
    name: socialpredict_internal_network
  socialpredict_external_network:
    name: socialpredict_external_network
    external: true
